/* Navbar Styling */

.navbar{
   border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(-90deg,white,rgba(230, 230, 230, 0.9));
    background-image: -moz-linear-gradient(-90deg,white,rgba(230, 230, 230, 0.9));
    background-image: -ms-linear-gradient(-90deg,white,rgba(230, 230, 230, 0.9));
    background-image: -o-linear-gradient(-90deg,white,rgba(230, 230, 230, 0.9));
    background-image: linear-gradient(-90deg,white,rgba(230, 230, 230, 0.9));
    height: 30px;
    width: 100%;
}

/* Main Content Styling */

.jumbotron {
	background-color: #B9C1CC;
  background-image: url('../light-wool.png');
  margin-bottom: 0px;
  padding-bottom: 31px;
}

.jumbotron .desc {
  margin-bottom: 75px;
}

.jumbotron .interest {
  margin-bottom: 70px;
}

#profile {
  margin-top: 20px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-width: 1.5px;
}

/*.left-content{};*/

.right-content{

}

p {
  font-family: serif;
}

a{
  color:#777;
}

a:hover{
  color: #777;
}

h1.content{
  font-family: "Trebuchet MS"; 
  padding-left: 20px;
  background-color: rgba(51, 51, 51, 0.62);
  color:#fff;
}

.content{
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 40px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 2px;
}
.name{
  width: 95%;
}

.desc{
 width: 80%;
} 

.passion{
  width:80%;
}

.skill{
  width:80%;
}

.interest{
  width:80%;
}

.edu{
  width:80%;
}
img {  
  display: block;
  height: 50%;
  width:100%;
  max-width: 100%;
  border-radius: 2px;
	
}

.info > li{
  display: inline-block;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.62);
}

.info .subscript {
  font-size: 10px;
  color: rgba(51, 51, 51, 0.62);

}